*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url('jordan.jpg'); */
    background-image: radial-gradient(circle at 50% 43%, #011027, #000110 70%);
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.container {
    text-align: center;
    perspective: 1000px;
}

h1 {
    font-family: Playfair Display;
    transform-style: preserve-3d;
    display: inline-flex;
    margin-top: 200px;
    color: #FFF;
    font-weight: 100;
    letter-spacing: 10px;
    font-size: 190px;
    cursor: pointer;
}

h1 span {
    pointer-events: none;
}