@import url('http://fonts.cdnfonts.com/css/noe-display');
@import url('http://fonts.cdnfonts.com/css/rocked');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    width: 100vw;
    height: 100vh;
    font-family: 'Noe Display', sans-serif;
}

/* ----------------------------NAVBAR--------------------------------- */

.header_container{
    animation: showup 7s forwards;
}

.left{
    position: absolute;
    top: 0;
    left: 150px;
    z-index: 1;
}

.left ul{
    display: flex;
}

.right{
    position: absolute;
    top: 0;
    right: 0;
}

.right ul{
    display: flex;
}

nav li{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    z-index: 1;
    padding: 20px;
    list-style-type: none;
    font-size: 20px;
    letter-spacing: 0.2125rem;
}

nav li:hover{
    color: #f00;
    cursor: pointer;
    transition: 1s;
}

/* -------------------------TITRE--------------------------------- */

.title_container{
    position: absolute;
    top: 30%;
    left: 25%;
    z-index: 1;
}

.title_container h1{
    color: #fff;
    font-size: 100px;
    font-family: 'Rocked', sans-serif;
    text-transform: capitalize;
    letter-spacing: -5px;
    padding: 5px;
}

.title_container p{
    color: #fff;
    text-align: center;
    font-size: 18px;
    margin-top: -55px;
}

/* Animation affichage du titre */
@keyframes showup {
    0% {opacity:0;}
    100% {opacity:1;}
}

/* ---------------------------------BOUTON INDEX----------------------------- */

.logo{
    width: 120px;
    position: absolute;
    z-index: 1;
    padding: 5px;
}

.boutonIndex{
    display: flex;
}

.fancy-btn {
    position: relative;
    padding: 10px 20px;
    border: 1.2px solid #fff;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    margin: 20px auto;
    transition: color 0.4s;
}

.fancy-btn:after {
    content: " ";
    border: 2px solid rgba(0, 0, 0, 0);
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: all 0.4s;
}

.fancy-btn:hover {
    color: #fff;
}

.fancy-btn:hover:after {
    border: 1.2px solid #fff;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
}

/* ----------------------------BACKGROUND ANIMATION INDEX--------------------------------- */

div#stripped {
    max-width: 100vw;
    /* max-height: 100vh; */
    margin: 0 auto;
    background: #000;
    background-image: url('yannis-papanastasopoulos-yWF2LLan-_o-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
}

div#stripped svg {
    background: #000;
    mix-blend-mode: darken;
}

div#stripped svg polyline {
    fill: none;
    stroke: #f00;
    stroke-width: 180;
    stroke-dasharray: 20000;
    stroke-dashoffset: 20000;
    animation: scribble 4s linear forwards;
}

/* Animation du scribble */
@keyframes scribble {
    to {
        stroke-dashoffset: 0;
    }
}